@charset "UTF-8";

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: -10px;
}

input::placeholder {
    font-size: 100%;
    opacity: 0.5;
  }

.form-container {
    width: 808px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.formInput#annonceTitle {
    margin-top: 20px;
    width: 800px;
    height: 50px;
    align-self: center;
}

.formInput#annonceDescription {
    margin-top: 50px;
    width: 800px;
    height: 300px;
    align-self: center;
}

.dateContainer {
    margin-top: 40px;
    width: 800px;
    height: 50px;
    display:inline;
    align-content: center;
}

.date1 {
    display: inline;
    width: 320px;
    align-self: start;
}

label {
    font-size: 20px;
    margin-right: 15px;
}

.formInput#beginningDate {
    width: 180px;
    height: 40px;
    align-self: center;
}

.formInput#endDate {
    width: 180px;
    height: 40px;
    align-self: center;
}

.date2 {
    display: inline;
    width: 300px;
    margin-left: 160px;
}

.formInput#city {
    margin-top: 50px;
    height: 50px;
    width: 800px;
}

.formInput#compensation {
    margin-top: 50px;
    height: 50px;
    width: 800px;
}

.formInput#fileInput {
    margin-top: 50px;
    height: 50px;
    width: 800px;
}

input[type=text] {
    font-size: 20px;
}

input[type=file] {
    margin-top: 50px;
    width: 800px;
    height:66px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 15px;
}

input[type=file]::file-selector-button {
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #084cdf;
    width: 200px;
    height: 50px;
    
}

input[type=submit] {
    font-size: 25px;
    color: white;
    cursor: pointer;
    background: #0B109F;
    margin-top: 50px;
    width: 250px;
    height: 60px;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    align-self: center;
    box-shadow: 5px 5px 5px black;
}

input[type=submit]:hover {
    font-size: 25px;
    color: white;
    cursor: pointer;
    background: #14C9AE;
    margin-top: 50px;
    width: 250px;
    height: 60px;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    align-self: center;
    box-shadow: 3px 3px 3px black;
}


 /*
 body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    font-size: 4vw;
    text-align: center;
    margin-top: -1vw;
}

input::placeholder {
    font-size: 100%;
    opacity: 0.5;
}

.form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.formInput {
    margin-top: 2%;
    width: 80%;
    align-self: center;
}

#annonceTitle,
#annonceDescription,
#beginningDate,
#endDate,
#city,
#compensation,
#file {
    width: 100%;
    height: 10%;
}

.dateContainer {
    margin-top: 4%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.date1,
.date2 {
    width: 48%; /* Ajustement pour les dates
}

.dateLabel {
    font-size: 2vw;
    margin-right: 1.5%;
}

input[type=file] {
    margin-top: 5%;
    height: 8.8%;
    border: 1px solid black;
    border-radius: 1%;
    padding-left: 1%;
    padding-top: 1.5%;
}

input[type=file]::file-selector-button {
    color: white;
    cursor: pointer;
    font-size: 2vw;
    border: none;
    border-radius: 1%;
    background: #084cdf;
    width: 100%;
    height: 5%;
}

input[type=submit] {
    font-size: 2.5vw;
    color: white;
    cursor: pointer;
    background: #0B109F;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    border-radius: 2%;
    box-shadow: 0.5vw 0.5vw 0.5vw black;
}

input[type=submit]:hover {
    font-size: 2.5vw;
    color: white;
    cursor: pointer;
    background: #14C9AE;
    margin-top: 5%;
    width: 100%; 
    height: 6%;
    border-radius: 2%;
    box-shadow: 0.3vw 0.3vw 0.3vw black;
}*/ 
