header {
    font-family: "Open Sans", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 9fr 1fr ;
    grid-template-rows: 150px;
    justify-content: space-around;
    column-gap: 40px;
    height: 150px;
}

.imageDiv {
    align-self: center;
}

img.logo {
    width: 301px;
    height: 109px;
    margin-left: 15px;
}

.menuDiv {
    align-self: center;
}

.menu {
    width: 60px;
    height: 60px;
}

.menu:hover {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.menuPopup {
    visibility: hidden;
    position: absolute;
    left: 73.7%;
    top: 10%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    border: solid thin black;
    box-shadow: 1px 1px 100px 5px #e4eefa;
    border-radius: 10px;
    width: 400px;
}

.elementDiv {
    width: 350px;
    height: 70px;
    margin-bottom: 4px;
    align-self: center;
    font-family: "Open Sans", sans-serif;
}

.elementDiv:hover {
    width: 350px;
    height: 70px;
    margin-bottom: 4px;
    align-self: center;
    background-color: #d5f0ff;
    color: black;
    cursor:pointer;
}

.menuElement{
    margin-bottom: 4px;
    align-self: center;
    text-align: center;  
}

.menuButton{
    margin-bottom: 4px;
    align-self: center;
    text-align: center;  
}

#deconnexion {
    align-self: center;
    width: 240px;
    height: 60px;
    background-color: #0B109F;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    margin-bottom: 8px ;
}

#deconnexion:hover {
    align-self: center;
    width: 240px;
    height: 60px;
    background-color: #0B109F;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    margin-bottom: 8px;
    cursor: pointer;
}

body {
    font-family: "Open Sans", sans-serif;
}

.titre {
    font-size: 55px;
    text-align: center;
}

.mdpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0px 7px 30px -10px #5F62AD;
    width: 600px;
    padding: 16px 24px;
}

.mdpInput {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

label {
    font-size: 25px;
}

input[type=text] {
    width: 600px;
    height: 50px;
    border-radius: 7px;
}

input::placeholder {
    font-size: 20px;
}

#mdpButton {
    width: 600px;
    height: 55px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #0B109F;
    border-radius: 7px;
    color: white;
}

footer {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 300px;
}